* {
    padding: 0 ;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.5)), url(https://kfund.github.io/web-front-end/lesson10/assets/images/background.png) ;
    background-size: cover;
    padding: 30px 20px 30px 20px;
}
.container {
    width: 1200px;
    max-width: 1500px;
    height: 100vh;
    padding: 0 15px;
    margin: 0 auto;
}
.header-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-top {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.header-main {
    width: 100%;
    height: 1000px;
    margin-top: 150px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    color: #fff;
    font-size: 40px
}
.menu {
    width: 70%;
    height: 100px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
    margin: 10px 10px;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 20px
}
a:hover {
    font-weight: bold;
}
.logo {
    width: 30%;
    height: 100px;
}
.button1 {
    width: 280px;
    height: 45px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button1:hover {
    border: 4px solid rgb(255, 255, 255);
}
.button1 h2 {
    font-size: 35px
}
p {
    color: #fff;
    font-size: 20px;
    margin: 10px 10px;
}
.main{
    width: 100%;
    height: 1000px;
}
.main-iner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-top {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deco-line{
    width: 80px;
    height: 4px;
    background: rgb(134, 134, 134);
}
.main-bottom {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
}
.menu2 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.button {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(66, 66, 66);
    border-radius: 50%;
}
h3 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
h4 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 30px;
}
i {
    color: rgb(190, 0, 0);
}
.button:hover {
    background-color: rgb(190, 0, 0);
    
}
.button:hover i {
    color: rgb(255, 255, 255);
}
.desc {
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
.title {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
.footer .container {
    width: 100%;
    height: 400px;
}
.footer {
    width: 100%;
    height: 70%;
    background: rgb(160, 0, 0);
    position: absolute;
    top: 1550px;
}
.footer-iner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.icons {
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-element {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-element i {
    color: #fff;
    
}
.icon-element:hover {
    background: #fff;
}
.icon-element:hover i {
    color: rgb(160, 0, 0);
}
.text {
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text p {
    color: rgb(255, 255, 255);
    size: 10px
}

@media (max-width: 767px) {
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 13px;
    }
    p {
        font-size: 50%;
    }
}